# =========================
# Node.js
# =========================
**/node_modules/
**/dist/
**/.next/
**/build/

# =========================
# Python / ML
# =========================
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.venv/
**/venv/
**/.env
# **/.env.*

# =========================
# ML artifacts
# =========================
**/models/
**/*.joblib
**/*.pkl

# =========================
# Jupyter
# =========================
**/.ipynb_checkpoints/

# =========================
# Logs
# =========================
**/*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
